<form method="post" class="mt-3" action="{{ path('admin_adress_delete', {'id': adress.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ adress.id) }}">
    <button class="btn btn-danger text-light"><i class="fa fa-trash mr-2"></i> Supprimer</button>
</form>
