{% extends 'admin.html.twig' %}

{% block title %}Créer une nouvelle adresse{% endblock %}

{% block body %}

<div class="card shadow-sm">
    <div class="card-header py-3"><h6 class="mb-0 fw-bold">Créer une nouvelle adresse</h6></div>

    <div class="card-body">

        {{ include('admin/admin_adress/_form.html.twig') }}

    </div>
</div>
{% endblock %}