<form method="post" class="d-inline" action="{{ path('admin_solipac_download_formulaire', {'id': solipac.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir Télécharger ce formulaire?');">
    <input type="hidden" name="_token" value="{{ csrf_token('download' ~ solipac.id) }}">
    <button class="btn btn-primary my-3"><i class="fa fa-file-pdf"></i> Télécharger le pdf</button>
</form>
