<form method="post" class="mt-3" action="{{ path('admin_offres_delete', {'id': offre.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ offre.id) }}">
    <button class="btn btn-danger text-light"><i class="fa fa-trash"></i> supprimer</button>
</form>
