{% extends 'base.html.twig' %}

{% block title %}Edit ComplementaireInfos{% endblock %}

{% block body %}
    <h1>Edit ComplementaireInfos</h1>

    {{ include('admin_complementaire_infos/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_complementaire_infos_index') }}">back to list</a>

    {{ include('admin/admin_complementaire_infos/_delete_form.html.twig') }}
{% endblock %}
