<form method="post" action="{{ path('admin_company_delete', {'id': company.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ company.id) }}">
    <button class="btn btn-danger text-light mt-3"><i class="fa fa-trash"></i> Supprimer</button>
</form>
