{% extends 'admin.html.twig' %}

{% block title %}Modifier la catégorie{% endblock %}

{% block body %}

    <div class="card-header py-3"><h6 class="mb-0 fw-bold">Modifier la catégorie</h6></div>
    
    <div class="card-body">
        {{ include('admin/admin_categorie_offres/_form.html.twig', {'button_label': 'Enregistrer les modifications'}) }}
    </div>

{% endblock %}
