<form method="post" class="mt-3 d-inline" action="{{ path('admin_contract_download', {'id': contract.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir Télécharger ce contrat?');">
    <input type="hidden" name="_token" value="{{ csrf_token('download' ~ contract.id) }}">
    <button class="btn btn-primary"><i class="fa fa-download"></i> Télécharger le contrat</button>
</form>
