<form class="d-inline" method="post" action="{{ path('admin_demande_validate', {'id': demande.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir confirmer cette demande?');">
    <input type="hidden" name="_token" value="{{ csrf_token('validate' ~ demande.id) }}">
    <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-check"></i></button>
</form>
